<h1>Učitelia</h1>

<div>
  <label for="new-meno">Meno Učiteľa: </label>
  <input id="new-meno" #FirstNameTeacher />
  <label for="new-priezvisko">Priezvisko Učiteľa: </label>
  <input id="new-priezvisko" #LastNameTeacher />
  <label for="new-kontakt">Kontakt: </label>
  <input id="new-kontakt" #Contact />



  <!-- (click) passes input value to add() and then clears the input -->
  <button pButton  (click)="addTeacher(FirstNameTeacher.value); FirstNameTeacher.value=''">
    Pridať Učiteľa
  </button>
</div>

<ul class="predmety">
  <li *ngFor="let teacher of teachers">
    <a routerLink="/detail/{{teacher.id}}">
      <span class="badge">{{teacher.id}}</span> {{teacher.firstName}}
    </a>
    <button type="button" class="delete" title="delete teacher"
            (click)="delete(teacher)">x</button>
  </li>
</ul>
