<div class="form-container">
  <form [formGroup]="form" >
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label id="firstName">Meno:</mat-label>
              <input formControlName="firstName" required matInput >
              <button *ngIf="data.firstName" matSuffix mat-icon-button aria-label="Clear" (click)="data.firstName=('')" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
                Meno je <strong>povinne</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label id="lastName">Priezvisko:</mat-label>
              <input formControlName="lastName"  required matInput >
              <button *ngIf="data.lastName" matSuffix mat-icon-button aria-label="Clear" (click)="data.lastName=('')" >
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>
                Priezvisko je <strong>povinne</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <mat-label id="contact">Contact:</mat-label>
            <input type="email"   placeholder="Priklad: pat@example.com" formControlName="contact" required matInput>
            <button *ngIf="data.contact" matSuffix mat-icon-button aria-label="Clear" (click)="data.contact =('')" >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error>
              Zadajte platnú e-mailovú adresu
            </mat-error>
            <mat-error >
              E-mail je <strong>povinný</strong>
            </mat-error>
          </mat-form-field>
        </div>

      <mat-card-actions>
        <button class="action-button" [disabled]="form.invalid"  mat-stroked-button (click)="onSubmit()">
          Uložiť
        </button>
        <button class="action-button" mat-stroked-button (click)="onClose()">SPÄŤ</button>
      </mat-card-actions>

  </form>
</div>
