.button + .button {
  margin-left: 8px;
}
button {
    margin: 8px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}
button:hover {
  background-color: black;
  color: white;
}
.col-1{
  margin-left: 20px;
}

mat-card{
  background-color: palegoldenrod;
  min-width: 250px;
  margin: 30px;
  line-height: 1.5rem;
}
