
<mat-tab-group dynamicHeight>
  <mat-tab label="Pondelok">
    <div class="example-large-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Utorok">
    <div class="example-large-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Streda">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Stvortok">
    <div class="example-small-box mat-elevation-z4">
    </div>
  </mat-tab>
  <mat-tab label="Piatok">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>
</mat-tab-group>
<table class="table border">
  <thead>
  <tr>
    <th>Deň</th>
    <th *ngFor="let element of rozvrhy">{{element.start}}-{{element.finish}}</th>
  </tr>
  </thead>
  <tbody >
  <tr class="border" *ngFor="let date">
    <th>{{date.date}}</th>
    <td *ngFor="let element of rozvrhy">{{element.subjectId}}{{element.teacherId}}</td>
  </tr>
  </tbody>
</table>
