<!--
<mat-tab-group dynamicHeight>
  <mat-tab label="Pondelok">
    <div class="example-large-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Utorok">
    <div class="example-large-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Streda">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab label="Stvortok">
    <div class="example-small-box mat-elevation-z4">
    </div>
  </mat-tab>
  <mat-tab label="Piatok">
    <div class="example-small-box mat-elevation-z4">

    </div>
  </mat-tab>
</mat-tab-group>
-->
<table class="table border">
  <thead>
  <tr>
    <th>Deň</th>
    <th *ngFor="let element of timeblocks">{{element.start}}-{{element.finish}}</th>
  </tr>
  </thead>
  <tbody>
  <tr class="border" *ngFor="let element of timeblocks">
      <th  [ngSwitch]="element.day">
        <ng-container *ngSwitchCase="1">Pondelok</ng-container>
        <ng-container *ngSwitchCase="2">Utorok</ng-container>
        <ng-container *ngSwitchCase="3">Streda</ng-container>
        <ng-container *ngSwitchCase="4">Štvortok</ng-container>
        <ng-container *ngSwitchCase="5">Piatok</ng-container>
      </th>
    <td *ngFor="let element">
      <ng-container></ng-container>

    </td>

  </tr>
  </tbody>
</table>
