<app-header></app-header>

<div class="button-container">
  <button mat-raised-button class="button" type="button" routerLink="/subjects">Zoznam predmetov</button>
  <button mat-raised-button class="button" type="button" routerLink="/teachers">Zoznam Učiteľov</button>
  <button mat-raised-button class="button" type="button" routerLink="/classrooms">Zoznam Učebne</button>
  <button mat-raised-button class="button" type="button" routerLink="/timeblock">Zoznam Rozvrhov</button>
  <button mat-raised-button class="button" type="button" routerLink="/groups">Zoznam skupin</button>
</div>

<app-footer></app-footer>

