<app-header></app-header>

<div class="button-container">
  <button mat-raised-button class="button" type="button" routerLink="/predmety">Zoznam predmetov</button>
  <button mat-raised-button class="button" type="button" routerLink="/teachers">Zoznam Učiteľov</button>
  <button mat-raised-button class="button" type="button" routerLink="/ucebny">Zoznam Učebne</button>
  <button mat-raised-button class="button" type="button" routerLink="/rozvrhy">Zoznam Rozvrhov</button>
</div>
<app-rozvrh></app-rozvrh>
<app-footer></app-footer>

